.to-do{
        width: 400px;
    margin: auto;
    background-color: rgb(194, 77, 77);
    border-radius: 5px;
}


h1{
    color: rgb(15, 15, 15);
    font-family:cursive;
}
 
input{
    background-color: rgb(231, 200, 200);
    width: 250px;
    border: none;
}

button{
    border:none;
    background-color:rgb(231, 200, 200) ;
}

#trash {
    float:right;
    margin-right: 20px;
}